//Animation CSS - Heart fill 
.fa-heart {
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    font-size: x-large;
    color: grey;

    &:hover {
      transition: linear 0.1s;
      background:linear-gradient($pink, $purple);
      -webkit-background-clip: text;
      color:transparent;
      font-weight: bold;
    }
  }



//Delay animation 
@keyframes menuappear {
  from {
    transform: scale(1,0);
    transform-origin: top;
  }
  to {
    transform: scale(1,1);
  }
}
@each $delay,$seconds in $possibility {
  .delay-#{$delay} {
    animation-delay: $seconds;
  }
}