//Header 
header {
    display: flex;
    justify-content: center;
    & .logo {
        width: 10em;
        margin: 1em 0;
    }
    & i {
            position: absolute;
            left: 5%;
            top: 28px;
    }
}