//Loading page
.fa-spinner {
    display: flex;
    position: absolute;
    left: 40%;
    top: 20%;
    animation: spin 2500ms infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    color: $bluegreen;
}

.loading {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    background-color: $purple;
    animation: loadingpage 2500ms;
    animation-fill-mode: forwards;
}

//Loading spinner 
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingpage {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        width: 100vw;
        height: 100vh;
    }
    100% {
        width: 0vw;
        height: 0vh;
    }
}