//Colors
$purple: #9356DC;
$clearpurple: #F5EDFF;
$pink: #FF79DA;
$bluegreen: #99E2D0;
$grey: #EAEAEA;
$background-grey: #F6F6F6;
$background-footer: #353535;
$green: rgb(0, 128, 83);
$degrade: linear-gradient(rgba(255, 121, 218, 1),rgba(147, 86, 220, 1));
//Fonts
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-style: normal;
    font-size: 1.67em;
    padding: 30px 0 0 0;
}

//Font size
$font-small: 1.6em;

// Border-radius
$light-round:5px;
$semi-round: 20px;
$round: 40px;
$top-round: 20px 20px 0 0;
$top-extraround: 40px 40px 0 0;
$right-round: 0 20px 20px 0;
//Box shadow
$box-shadow:  10px 10px 10px -10px rgba(0,0,0,0.1);
$box-shadow2:  10px 10px 10px -3px rgba(0,0,0,0.19);
$box-shadow-intern: -2px 2px 4px -2px rgb(111, 110, 110) inset;
// Margin
$general_margin: 0px 20px 30px 20px;
$margin_menu: -10px -20px -16px 20px;
$button_margin: 20px 0;
// Mixin
@mixin card-organisation {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
// Delays in apparition
    $possibility: ("01":0.2s,"02":0.4s,"03":0.6s,"04":0.8s,"05":1s,"06":1.2s,"07":1.4s,"08":1.6s,"09":1.8s,"10":2s,"11":2.2s,"12":2.4s,"13":2.6s,"14":2.8s,"15":3s);

//Breakpoints
$breakpoints: (tablet: 600px, desktop: 1150px);